<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Your Banner Image to Support KBIA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="row">

    </div>
</div>


<div class="container">
    <div class="header clearfix">

        <h3 class="text-muted">KBIA Profile Image Tool</h3>
    </div>

    <div class="jumbotron">

        <h1>Show Your Support for KBIA on Facebook and Twitter</h1>

        <p class="lead">This super easy to use tool will add a little KBIA blurb to your profile picture and let you upload a new copy. Here's how it works:</p>

        <ol>
            <li>You click "Let's Do It!" below.</li>
            <li>Our app will ask for permission to see your Facebook profile.</li>
            <li>Once you've said yes, the app will generate a new profile picture and take you to it.</li>
            <li>To set this as your photo on Facebook and Twitter, just right (or control) click, say "Save Image As...", save the photo somewhere you'll remember and upload as normal!</li>
        </ol>


        <p><a class="btn btn-lg btn-success" href="/logout">Let's Do It!</a></p>

        So far, {{ users_count }} have already used this to show their support.

        

<!--         <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1845537255723796";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-comments" data-href="http://kuday.masnun.rocks/" data-numposts="10"></div> -->


    </div>



</div> <!-- /container -->
</body>
</html>